<h2>Usuario</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h4>Datos personales</h4>

  <div class="row p-fluid">
    <div class="col p-field">
      <label for="nombre">Nombre</label>
      <input id="nombre" type="text" pInputText formControlName="name" />
      <small *ngIf="submitted && f['name'].invalid"
        >Este campo es obligatorio.</small
      >
    </div>
    <div class="col p-field">
      <label for="usuario">Usuario</label>
      <input id="usuario" type="text" pInputText formControlName="username" />
      <small *ngIf="submitted && f['username'].invalid"
        >Este campo es obligatorio.</small
      >
    </div>
    <div class="col p-field">
      <label for="nombre">Email</label>
      <input id="nombre" type="email" pInputText formControlName="email" />
      <small *ngIf="submitted && f['email'].invalid"
        >Este campo es obligatorio.</small
      >
    </div>
  </div>

  <h4>Domicilio</h4>
  <section formGroupName="address">
    <div class="row p-fluid">
      <div class="col p-field">
        <label for="calle">Dirección</label>
        <input id="calle" type="text" pInputText formControlName="street" />
      </div>
      <div class="col p-field">
        <label for="postal">Cod. Postal</label>
        <input id="postal" type="text" pInputText formControlName="zipcode" />
      </div>
      <div class="col p-field">
        <label for="ciudad">Ciudad</label>
        <input id="ciudad" type="text" pInputText formControlName="city" />
      </div>
    </div>
  </section>

  <div class="row mt-4">
    <div class="col-auto">
      <button pButton type="submit" icon="pi pi-save" label="Guardar"></button>
    </div>

    <div class="col-auto">
      <button
        pButton
        type="button"
        icon="pi pi-arrow-left"
        label="Volver"
        class="p-button-outlined"
        (click)="onVolver()"
      ></button>
    </div>
  </div>
</form>

<p-toast></p-toast>
